*{
margin: 0;
padding:0 ;
box-sizing: border-box;
}
:root {
  --black-darker: #000000;
  --black-dark: #080b12;
  --black-medium: #141922;
  --light: #a3a3a3;
  --lighter: #ffffff;
  --verde: #adff2f;
}
/*#region debug */
.debug .top{
    background-color: aquamarine;
}
.debug footer{
    background-color: rgb(156, 123, 255);
}
.debug .sidebar{
    background-color: rgb(0, 0, 0);
}
.debug .content{
    background-color: rgb(255, 215, 113);
}
/*#endregion debug */
.top{
    height: calc(100vh - 100px);
    display: flex;
}
.top > .sidebar{
    width: 150px;

}
.top > .content{
    width: calc(100% - 150px);
}
footer.bottom{
    height:100px; 
}
/*#region mediaquery */
@media screen and (max-width: 480px) 
{
.top > .sidebar{
    width: 30px;

}
.top > .content{
    width: calc(100% - 30px);
}
}
@media screen and (min-width: 768px) 
{
.top > .sidebar{
    width: 280px;

}
.top > .content{
    width: calc(100% - 280px);
}
}
@media screen and (min-width: 1160px) {

}
/*#endregion mediaquery */