* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Circular Std', sans-serif;;
}
:root {
    --black-darker: #000000;
    --black-dark: #080b12;
    --black-medium: #141922;
    --black-footer:#282828;
    --light: #a3a3a3;
    --lighter: #ffffff;
    --verde: #adff2f;
}img{
    max-width: 100%;
}
.flex{
    display: flex;
}
.column{
    flex-direction: column;
}
.space_between{
    justify-content: space-between;
}
.center{
    justify-content: center;
}
.container{
   width: 100%;
   margin: auto;

}

/*#region debug */
.debug .top {
    background-color: aquamarine;
}

.debug footer {
    background-color: rgb(156, 123, 255);
}

.debug .sidebar {
    background-color: rgb(0, 0, 0);
}

.debug .content {
    background-color: rgb(255, 215, 113);
}

/*#endregion debug */
/*#region sidebar */
.sidebar{
    background-color: var(--black-darker);
    color: white;
}
.sidebar .container{
    height: 100%;
    width: 30px;
}
.sidebar .row{
    height: 100%;
padding: 0.5rem;
    justify-content: space-between;
}
.sidebar_top{
    gap: 0.5rem;
}
.sidebar_bottom{
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
#user{
    background-color: var(--light);
    border-radius: 50%;
}
/*#endregion sidebar */
/*#region content */
.content{
    background-color: var(--black-dark);
}
/*#endregion content */
/*#region banner */

/*#endregion banner */
/*#region main */
.top {
    height: calc(100vh - 100px);
    display: flex;
    overflow: scroll;
}

.top>.sidebar {
    width: 200px;

}

.top>.content {
    width: calc(100% - 200px);
}

/*#endregion main */
/*#region footer */
footer.bottom {
    height: 100px;
    background-color: var(--black-footer);
}
.img_brano{
    width: 30px;
}
.row{

}
/*#endregion footer */
/*#region mediaquery */
@media screen and (max-width:480px) {
    .top>.sidebar {
        width: 30px;

    }

    .top>.content {
        width: calc(100% - 30px);
    }
}
@media screen and (min-width:768px) {
    .top>.sidebar {
        width: 100px;

    }

    .top>.content {
        width: calc(100% - 100px);
    }
    .sidebar .row{

    }
}

@media screen and (max-width: 1160px) {

}

/*#endregion mediaquery */